{
    "overrides": [
        {
            "files": ["*.*"],
            "options": {
                "printWidth": 100,
                "tabWidth": 2,
                "useTabs": false,
                "singleQuote": false,
                "bracketSpacing": false,
                "explicitTypes": "always",
                "trailingComma": "none",
                "arrowParens": "avoid"
            }
        }
    ]
}
